

  <div class="about">
      <h1 ng-if="routeData.data.title_page">'חתונה בראש שקט'</h1>

      <p ng-bind-html="routeData.data.posts[0].content" class="content ng-binding">
      <p>חתן – כלה בבית, המשפחה שמחה, ההתרגשות גוברת, תקופת ההתארגנות לשמחה סוחפת איתה את כל המשפחה.</p>

      <p>
        בתחשיב פשוט מדובר בתקופה קצרה בה מוציאים החתן והכלה סכום רב של כסף על קניות ורכישת שירותים ממגוון רחב של יצרנים
        וספקים. </p>
      <p> המגוון, המבצעים, התחרות במשק , כל אלו יוצרים אצל החתן והכלה בלבול ולעיתים חוסר אונים.
        ב'חתונה בראש שקט' – אתר האינטרנט החרדי לחתנים וכלות עושה סדר בעולם השמחות החרדי והדתי.</p>
        <p>    בדף הבית תוכלו למצוא מגוון רחב של קטגוריות בכל אחד מתחומי הקניות לתקופה זו החל מאולמות, תזמורות, צלמים, שמלות
        כלה ועוד.</p>
    
      <p> האתר ממקד את החתן/כלה בעסקים הנדרשים להם לתקופה זו בעת הוספת מטלה.</p>
      <p>  בעקבות הנסיבות הנ"ל החלטנו לפתח אתר שיסייע לחתן/כלה לנצל את זמנם המועט למטלות רבות ע"י התחשבות בפרמטרים חשובים,
        כגון: מיקום ושעה, שבד"כ לא מסונכרנים בעקבות עומס ולחץ.</p>
      
      <p> המשתמש יוכל להתחבר למערכת בשני ממשקים (בהתאם למהות המשתמש):</p>
      <p> • ממשק המיועד לחתן/כלה: הממשק מציג למשתמש את הלו"ז האישי שלו באפשרויות תצוגה שונות של יום/שבוע/חודש/שנה.
        המשתמש יכול להוסיף מטלה באופן עצמאי וישיר בלו"ז או להזין רשימת מטלות והמערכת תשבץ אותן בלו"ז עפ"י קריטריונים
        הקבועים מראש. (תאריכים, שעות, מיקומים).
        כמובן שבאפשרות המשתמש לערוך/לשנות וכן במידת הצורך למחוק את השיבוץ.
      </p>
      <p> • ממשק המיועד לבעלי עסקים: המערכת מאפשרת לבעלי העסקים עלי אפקטיבי ראשון במעלה להגדלת הכנסותיו.
        <!-- מטרת העל של הפרויקט היא קיצור מהפכני ומשמעותי ביותר בתכנון לו"ז של חתנים וכלות, תוך יצירת רווח כלכלי לבעלי -->
        <!-- העסקים, במיוחד בתקופת הקורונה. -->
      </p>




      <p> המערכת מציגה באופן בהיר ופשוט מחיר ממוצע לפגישה עם עסק עפ"י סטטיסטיקות.
      </p>

    
    </div>
