body{
    background-color: transparent;
}
.from-row {
    border: 2px dotted goldenrod;
    height: 50%;
    direction: rtl;
    size: 50;
    text-align: right;
    // margin-left: 30%;
    margin-bottom: 0%;
    // padding-left: 0%;
}
label{
        direction: rtl;
    // text-align: right;
}
.cdk-overlay-container{ z-index: 1200 !important; }
.md-datepicker-calendar-pane {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1151;
    border-width: 1px;
    border-style: solid;
    background: transparent;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .md-datepicker-calendar-pane.md-pane-open {
      -webkit-transform: scale(1);
              transform: scale(1); }

.modal-content{
    text-align: center;
   
    width: 200%;
  
}

mat-form-field{
    direction: rtl;
    text-align: right;
}
::ng-deep .cdk-overlay-container mat-datepicker-content{
    z-index:2000 !important;
  }

  .md-datepicker-calendar-pane{
    z-index: 1200}

input {

    direction: rtl;
    text-align: right;
}
select,
option {
    direction: rtl;
    text-align: right;
    width: 50%;

}
.form-control {
    border: 2px dotted goldenrod;
    border-radius: 17px;
   width: 50%;
}

.form-control:focus {
    outline: medium;
    border-color: #ffffff;
    box-shadow: 0 0 50px #000000;
}
.btn {
    background-color: #000000;
    border: 2px dotted goldenrod;
    border-radius: 17px;
    color: white;
}
.btn:focus {
    outline: medium;
    border-color: #ffffff;
    box-shadow: 0 0 50px #000000;
}
span {
    color: goldenrod;
}
 .tm-picker {
  border-radius: 17px;
  margin: auto;
 }

 fieldset{
    margin-left: 190px;

 }
.form-group{

}
// .tm-picker :focus {
//     outline: medium;
//     border-color: #ffffff;
//     box-shadow: 0 0 50px #000000;
// }
// .ax-scheduler__week-view .ax-scheduler__week-view__header>div:last-child>div>span.header_number.today
// .ax-scheduler__week-view .ax-scheduler__week-view__header>div:last-child>div>span.header_number{color: yellow;}
.form-group{
position: relative;
z-index: 1100;
    direction: rtl;
    text-align: right;
}
form{
    float: right;
}
.BusinessDetails{
    border-right:white 1px solid  ;
}





